@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Outfit', sans-serif;
}
:root {
	--violet-500: #690fad;
	--violet-400: #bb89ec;
	--violet-300: #e7e2f8;
	--green-500: #688900;
	--green-400: #cfd700;
	--white: #ffffff;
}
html {
	font-size: 18px;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: var(--violet-300);
}
.navigation {
	position: relative;
	width: 400px;
	height: 70px;
	background: var(--violet-400);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
.navigation ul {
	display: flex;
	width: 350px;
}
.navigation ul li {
	position: relative;
	width: 70px;
	height: 70px;
	z-index: 1;
}
.navigation ul li a {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}
.navigation ul li a .icon {
	position: relative;
	display: block;
	line-height: 75px;
	font-size: 1.5rem;
	text-align: center;
	transition: 0.5s;
	color: var(--violet-300);
}
/* Active Class / Hovered */
.navigation ul li.active a .icon {
	transform: translateY(-35px);
	color: var(--green-500);
}
.navigation ul li a .text {
	position: absolute;
	color: var(--violet-300);
	font-weight: 400;
	font-size: 0.75rem;
	letter-spacing: 0rem;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
}
/* Active Class / Hovered */
.navigation ul li.active a .text {
	opacity: 1;
	transform: translateY(10px);
}
.indicator {
	position: absolute;
	top: -50%;
	width: 70px;
	height: 70px;
	background-color: var(--green-400);
	border-radius: 50%;
	border: 6px solid var(--violet-300);
	transition: 0.5s;
}
.indicator::before,
.indicator::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 20px;
	height: 20px;
	background-color: var(--violet-400);
	box-shadow: 0 -10px 0 0 var(--violet-300);
}
.indicator::before {
	left: -22.2px;
	border-top-right-radius: 20px;
}
.indicator::after {
	right: -22.2px;
	border-top-left-radius: 20px;
}

.navigation ul li:nth-child(1).active ~ .indicator {
	transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
	transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
	transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
	transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
	transform: translateX(calc(70px * 4));
}
